<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="game.css">
    <title> Player view </title>
</head>

<body>
    <div id="app">
        
            <h1 class="jumbotron title"> Game Information </h1>
    <div id="content">

        <div class="alltables">
            <div class="ships">
               <div class="subtitle">
                   <h2> {{players.player1}} </h2>
               </div>
                <table class="table table-bordered cell-hover">
                    <tr>
                        <th></th>
                        <th class="table-dark" scope="col" v-for="key in cols"> {{key}}</th>
                    </tr>
                    <tr v-for="r in rows">
                        <th class="table-dark" scope="row">{{r}}</th>
                        <td v-for="c in cols" :id="'U'+r+c"></td>
                    </tr>

                </table>
            </div>
            <div class="salvoes">
               <div class="subtitle">
                   <h2> {{players.player2}} </h2>
                   
               </div>
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th class="table-light" v-for="key in cols"> {{key}}</th>
                    </tr>
                    <tr v-for="r in rows">
                        <th class="table-light" scope="row">{{r}}</th>
                        <td v-for="c in cols" :id="'E'+r+c"></td>
                    </tr>
                </table>
            </div>
        </div>
     </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="playerview.js"></script>
</body>

</html>
