body{
    width: 100%;
}

#app{
    width: 100%;
    height: 100%;
/*    background-image: url(leadership-e1512581079920-638x400.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    
}
.alltables{
    margin: 20px auto;
    margin-left: 200px;
    text-align: center;
}

table{
    border-collapse: separate;
    border-color: brown;
}
#content{
    background-image: url(irish%20decor2.png);
    background-repeat: no-repeat;
    background-size: cover;

    
}

.alltables {
    display: inline-flex;
   
}

.ships, .salvoes{
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
   
    
}

.salvoes {
    margin-left: 100px;
}
.ships{
    margin-left: 30px;
}
.title, .well { 
    text-align: center;
    margin: 20px;
}

.ship-location{
    background-color:darkblue;
}
.salvo-location {
    border: 1px green solid;
    border-radius: 1px;
    
}
.hit{
    background-color: red;
    
}

h2.subtitle{
    font-size: 
}