<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="game.css">
    <title> Games </title>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="jumbotron">
                <div class="logo" src="Free_Logo_Maker_-_Get_Custom_Logo_Designs_in_Minutes___Logojoy.png"> </div>
            </div>
        </div>
        <div class="welcomemsg">
<!--            <h1> {{message}}</h1>-->
        </div>
        
        <button type="submit" class="btn btn-primary" v-if="isLoggedIn" v-on:click="logout">Logout</button>
        <div class="form-inline" v-if="!isLoggedIn">{{message}}
<!--            @submit.prevent="login" -->
            <div class="form-group">
                <label class="sr-only" for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" v-model="userName">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="password">
            </div>
            <button type="submit" class="btn btn-primary" v-on:click="login">Login</button>
                <div class="signingUp"> 
<!--                    <label class="SignUp"> Not registered yet, no problem </label>-->
                    <button type="signup" class="btn btn-secondary" v-on:click="signUp"> Signup</button>
                </div>
        </div>

        <h1> Leaderboard </h1>
        <div class="leaderboard">
            <table class="table table-hover">
                <thead>
                    <th class="name"> Name </th>
                    <th class="total"> Total </th>
                    <th class="won"> Won </th>
                    <th class="lost"> Lost </th>
                    <th class="tie"> Tie </th>
                </thead>

                <tr v-for="player in players">
                    <th> {{player.player}}</th>
                    <th> {{player.total}}</th>
                    <th> {{player.win}}</th>
                    <th> {{player.lose}}</th>
                    <th> {{player.tie}}</th>

                </tr>
            </table>

        </div>
        
        <h1> Games </h1>
        <ol id="allGames">
            <li id="everyGame" v-for="game in games">
                <p> {{game.created}} - {{game.playerOne}}
                 {{game.playerTwo}} </p>
                <span v-if="game.status == 'Play'">
                <a :href="'game.html?gp='+game.playerOneId">{{game.status}}</a>
                </span>
                <span v-if="game.status != 'Play'">
                    <p>{{game.status}}</p>
                </span>
           
            </li>
        </ol>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="games.js">
    </script>
</body>

</html>
